.scrolling-text {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflow text */
  animation: scrollText 20s linear infinite; /* Apply the animation with 10 seconds duration */
  height: 20px;
}

@keyframes scrollText {
  0% {
    transform: translateX(200%); /* Start from the right edge of the container */
  }
  100% {
    transform: translateX(-100%); /* Scroll to the left edge of the container */
  }
}